.name {
  margin-top: 50px;
  font-size: 27px;
  font-weight: 400;
  font-family: Work Sans;
}
.title {
  margin-top: 10px;
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 300;
  // color: gray
}
.navbar {
  // margin-top: -7px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 300;
}
.carousel-inner {
  
  display: flex !important;
  justify-content: space-around !important;
  margin-left: -4.5%;
}
.photo {
  margin-top: 20px;
  width: 550px;
  height: 250px;
  object-fit: cover;
  object-position: top;
}
.credits {
  margin-top: 50px;
  font-size: 10px;
}