.name {
  margin-top: 50px;
  font-size: 27px;
  font-weight: 400;
  font-family: Work Sans;
}
.title {
  margin-top: 10px;
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 300;
  // color: gray
}
.navbar {
  // margin-top: -7px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 300;
}

// CAROUSEL
$size-width: 550px;
$size-height: 250px;
.carousel-container {
  width: $size-width;
  height: $size-height;
  overflow: hidden;
  margin: 0 auto;
}
.carousel {
  display: flex;
  width: $size-width * 3;
  animation: sliding 12s infinite;
}
.photo {
  margin-top: 20px;
  width: 550px;
  height: 250px;
  object-fit: cover;
  object-position: top;
}
@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-$size-width);
  }
  65% {
    transform: translateX(-$size-width);
  }
  70% {
    transform: translateX(-$size-width * 2);
  }
  98% {
    transform: translateX(-$size-width * 2);
  }
  100% {
    transform: translateX(0);
  }
}

.credits {
  margin-top: 50px;
  font-size: 10px;
}