.nav-link {
  color: gray;
}

.nav-link:hover {
  color: black;
  font-weight: 400;
}

// .item-title:hover::after {
//   content: '';
//   background: $red;
//   height: 4px;
//   margin: 0 auto;
//   left: 7px;
//   right: 5%;
//   top: 2.74rem;
//   position: absolute;
//   z-index: 1;
// }